[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/vim-web-indent"]
	path = .vim/bundle/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule ".vim/bundle/cmdline-completion"]
	path = .vim/bundle/cmdline-completion
	url = https://github.com/vim-scripts/cmdline-completion.git
[submodule ".vim/bundle/vim-bufsurf"]
	path = .vim/bundle/vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
